button {
    width: 3em;
    height: 3em;
    font-size: 1.5em;
    border: node;
    border-radius: 2em;
    margin: 0.3em ;
}

button:hover{
    /* mudar o cursor do mause quando passar pelo botao */
    cursor: pointer;
}

.wrapper{
    background-color: black;
    border-radius: 1em;
    padding: 1em;
}

.orange {
    background-color: #FF9500;
    color:  white;
} 

/* Invertendo as cores quando o botão for clicado  */
.orange:focus {
    background-color: white;
    color: #FF9500;
}

.gray {
    background-color: #505050;
    color: white;
}

/* Invertendo as cores quando o botão for clicado  */
.gray:focus {
    background-color: #929292;
}

.lighter-gray:focus {
    background-color: whitesmoke;
}

#zero {
    width: 6.6em; 
    text-align: left;
    padding-left: 1em;
}

.result {
    color: white;
    display: flex;
    justify-content: flex-end;
    margin-right: 1em;
    font-size: 4em;
}
